@import "normalize";
@import "rouge-github";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins&display=swap');

/* LAYOUT STYLES */
body {
  font-size: 18px;
  background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
}

h1 {font-size: 2em; display: block; width:100%; font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;}
h2 {font-size: 1.5em;  display: block; width:100%; font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;}
h3 {font-size: 1.25em;  display: block; width:100%; font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;}
h4 {font-size: 1em;  display: block; width:100%;  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;}

header {
  background: #011825;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  color: white;
  border-bottom: solid 1px #275da1;
}

header h1 { font-size: 60px;}



/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */

@media only screen and (max-width: 959px) and (max-width: 100px) {header h1 {font-size: 52px;} }

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) { header h1 {font-size: 42px;} }

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) { header h1 {font-size: 40px;} #logo img {height:150px; width:auto !important} }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {header h1 {font-size: 28px; } }
