<!DOCTYPE html>
<html lang="en">
<head>
    <META http-equiv="refresh" content="0;{{page.redirect}}">
</head>
<body>
 <p>Redirecting you to {{page.redirect}}</p>
 {{content}}
  </body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K40GQED2QC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K40GQED2QC');
  </script>
</html>
